<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<head>
    <title>문의하기 | 고객지원 | MAPS-3D</title>
</head>
<body>
<th:block layout:fragment="content">

    <main class="main_sub">
        <section class="section_location">
            <h2 class="layout_screen-out">Site Location</h2>
            <div class="layout_inner">
                <a href="/">홈</a>
                <a href="notice.html">고객지원</a>
                <span class="current">FAQ</span>
            </div>
        </section><!-- //section_location -->

        <section class="layout_inner layout_vertical">
            <div class="layout_tit">
                <h2 class="sub_tit" id="content">FAQ</h2>
                <form method="post" th:action="@{/admin/faq_write}" enctype="multipart/form-data" name="form" id="form">
                    <table class="tb_row tb_board_write">
                        <tr>
                            <th scope="row">구분</th>
                            <td>
                                <div class="select_wrap">
                                    <select name="type" id="type">
                                        <option value="Studio">Studio</option>
                                        <option value="Modeler">Modeler</option>
                                        <option value="Flow">Flow</option>
                                        <option value="Insert">Insert</option>
                                        <option value="Cool">Cool</option>
                                        <option value="Pack">Pack</option>
                                        <option value="Warp">Warp</option>
                                        <option value="Fiber">Fiber</option>
                                        <option value="Overmolding">Overmolding</option>
                                        <option value="Gate Optimization">Gate Optimization</option>
                                        <option value="Hot Runner Heat Balancing">Hot Runner Heat Balancing</option>
                                        <option value="Nozzle Pressure">Nozzle Pressure</option>
                                        <option value="LIM/MCM">LIM/MCM</option>
                                        <option value="RIM">RIM</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">질문</th>
                            <td><input type="text" name="question" class="input_login"></td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td><input type="file" name="file" class="input_file"></td>
                        </tr>
                        <tr>
                            <th scope="row">답변</th>
                            <td><div class="textarea_wrap"><textarea name="answer" id="answer"></textarea></div></td>
                        </tr>
                    </table>
                    <!--<div class="signup_error" style="display: block"><span class="ico_notice">내용을 입력해 주세요.</span></div>-->

                    <div class="cont_btns">
                        <button type="submit" class="btn_btm submit">작성하기</button>
                        <button type="button" class="btn_btm" onclick="history.back()">취소</button>
                    </div>
                </form>
            </div><!-- //layout_tit -->
        </section><!-- //layout_inner -->
    </main>
</th:block>
<th:block layout:fragment="pageScript">
<script>
    $("#form").validate({
        rules: {
            question: {
                required: true
            },
            answer: {
                required: true
            }
        },
        messages: {
            question: {
                required: '질문을 입력해주세요.'
            },
            answer: {
                required: '답변을 입력해주세요.'
            }
        }
    })
</script>
</th:block>
</body>
</html>
