<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<head>
    <title>문의하기 | 고객지원 | MAPS-3D</title>
</head>
<body>
<th:block layout:fragment="content">

    <main class="main_sub">
        <section class="section_location">
            <h2 class="layout_screen-out">Site Location</h2>
            <div class="layout_inner">
                <a th:href="@{/}" href="/">홈</a>
                <a th:href="@{/customer/notice}" href="notice.html">고객지원</a>
                <span class="current">공지 및 뉴스</span>
            </div>
        </section><!-- //section_location -->

        <section class="layout_inner layout_vertical">
            <div class="layout_tit">
                <h2 class="sub_tit" id="content">공지 및 뉴스</h2>

                <table class="board_list">
                    <colgroup>
                        <col class="board_list_num">
                        <col class="board_list_category">
                        <col>
                        <col class="board_list_date">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="td_board_num">42</td>
                        <td class="td_board_news">뉴스</td>
                        <td class="td_board_tit">2021년 11월 MAPS-3D 교육 안내</td>
                        <td class="td_board_date">2021. 08. 09</td>
                    </tr>
                    </tbody>
                </table>
                <div class="board_body">
                    공지사항 본문입니다.
                </div>
                <div class="cont_btns">
                    <button type="button" class="btn_btm submit" onclick="location.href='notice.html'">목록보기</button>
                    <button type="button" class="btn_btm">삭제</button>
                </div>
            </div><!-- //layout_tit -->
        </section><!-- //layout_inner -->
    </main>

</th:block>
<th:block layout:fragment="pageScript">
<script>

</script>
</th:block>
</body>
</html>
