<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<head>
    <title>아이디 찾기 |  MAPS-3D</title>
</head>
<body>
<th:block layout:fragment="content">
    <main class="main_sub">
        <section class="section_location">
            <h2 class="layout_screen-out">Site Location</h2>
            <div class="layout_inner">
                <a th:href="@{/}" href="/">홈</a>
                <span class="current">비밀번호 찾기</span>
            </div>
        </section><!-- //section_location -->

        <section class="layout_inner layout_vertical">
            <div class="cont_login">
                <div class="find_wrap">
                    <div class="cont_tit st7">
                        <h2 id="content">비밀번호 찾기</h2>
                        <p class="subtxt">회원가입 시 등록했던 아이디(이메일) 정보를 통해 비밀번호를 찾을 수 있습니다.</p>
                    </div>
                    <form method="post" th:action="@{/member/forgot_password}" name="form" id="form" target="iframe">
                        <input type="text" name="name" id="name" tabindex="1" placeholder="이름을 입력해 주세요." class="input_login">
                        <input type="text" name="email" id="email" tabindex="2" placeholder="아이디(이메일)를 입력해 주세요." class="input_login">
                        <div class="find_btns">
                            <button type="submit" class="btn_btm submit">확인</button>
                            <button type="button" class="btn_btm cancel" onclick="history.back()">취소</button>
                        </div>
                    </form>
                </div><!-- //find_wrap -->
            </div><!-- //cont_login -->
        </section><!-- //layout_inner -->
    </main>
    <iframe name="iframe" id="iframe" style="display: none"></iframe>
</th:block>
<th:block layout:fragment="pageScript">
    <script>
        $("#form").validate({
            rules: {
                name: {
                    required: true,
                },
                email: {
                    required:true,
                }
            },
            messages: {
                email: {
                    required:'이메일을 입력해주세요.',
                    email: '이메일 형식을 입력해주세요.'
                },
                name: {
                    required: '이름을 입력해주세요.'
                }
            }
        });
    </script>
</body>
</html>
