<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<head>
    <title>회원가입 | MAPS-3D</title>
</head>
<body>
<th:block layout:fragment="content">

    <main class="main_sub">

        <section class="section_location">
            <h2 class="layout_screen-out">Site Location</h2>
            <div class="layout_inner">
                <a href="/">홈</a>
                <span class="current">회원가입</span>
            </div>
        </section><!-- //section_location -->

        <section class="layout_inner layout_vertical">
            <h2 class="layout_screen-out" id="content">회원가입</h2>
            <section class="layout_tit cont_signup_step">
                <h3 class="sub_tit"><strong>REGISTER </strong>STEP</h3>
                <div class="signup_step_wrap">
                    <ul class="signup_step layout_clearfix">
                        <li class="step_agree passed"><div><span>가입서류</span></div></li>
                        <li class="step_input passed"><div><span>약관동의</span></div></li>
                        <li class="step_identity current"><div><span>정보입력</span></div></li>
                        <li class="step_completion"><div><span>가입완료</span></div></li>
                    </ul>
                </div>
            </section><!-- //layout_tit -->

            <div class="layout_tit">
                <div class="cont_signup_agree cont_signup_agree_top">
                    회원정보는 개인정보취급방침에 따라 안전하게 보호되며, 회원님의 명백한 동의 없이 공개 또는 제 3자에게 제공되지 않습니다.
                </div>
            </div><!-- //layout_tit -->
            <form method="post" id="form" name="form" th:action="@{/member/signup_step4}" enctype="multipart/form-data">
            <section class="layout_tit">
                <h3 class="sub_tit">온라인 회원약관</h3>
                <h3 class="cont_tit_sub2 st2">로그인 정보</h3>
                <table class="tb_row tb_signup">
                    <tr>
                        <th scope="row">아이디 (필수)</th>
                        <td>
                            <input type="text" name="email" id="email" placeholder="아이디용 이메일주소를 입력해 주세요." class="input_login">
                            <div></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호(필수)</th>
                        <td><input type="password" name="password" id="password" placeholder="영문 대소문자, 숫자, 특수기호 포함 8~15자" class="input_login">
                            <div></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호 확인(필수)</th>
                        <td><input type="password" name="password2" id="password2" placeholder="입력한 비밀번호를 다시 입력해 주세요." class="input_login">
                        </td>
                    </tr>
                </table>

                <h3 class="cont_tit_sub2 st2">기업 정보</h3>
                <table class="tb_row tb_signup">
                    <tr>
                        <th scope="row">회사명(필수)</th>
                        <td><input type="text" name="companyName" id="companyName" placeholder="회사명을 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">사업자등록번호(필수)</th>
                        <td><input type="text" name="bizNumber" id="bizNumber" placeholder="사업자등록번호를 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">대표자 명(필수)</th>
                        <td><input type="text" name="bizOwner" id="bizOwner" placeholder="대표자 이름을 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">유선대표번호(필수)</th>
                        <td>
                            <div class="input_wrap_mobile">
                                <input type="text" name="tel1" id="tel1" maxlength="3" class="input_login">
                                <span class="txt_mobile">-</span>
                                <input type="text" name="tel2" id="tel2" maxlength="4" class="input_login">
                                <span class="txt_mobile">-</span>
                                <input type="text" name="tel3" id="tel3" maxlength="4" class="input_login">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2" scope="row">주소(필수)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="addr1" class="input_login" id="addr1" readonly>
                                <button type="button" class="btn_tb_input" id="searchAddr">찾아보기</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="addr2" id="addr2" placeholder="상세주소를 입력해 주세요." class="input_login">
                        </td>
                    </tr>
                </table>
                <h3 class="cont_tit_sub2 st2">담당자 정보</h3>
                <table class="tb_row tb_signup">
                    <tr>
                        <th scope="row">담당자 (필수)</th>
                        <td><input type="text" name="chargeName" id="chargeName" placeholder="담당자 이름을 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">담당자 연락처(필수)</th>
                        <td>
                            <div class="input_wrap_mobile">
                                <input type="text" name="chargeMobile" id="chargeMobile" class="input_login">
                                <span class="txt_mobile">-</span>
                                <input type="text" name="chargeMobile2" id="chargeMobile2" maxlength="4" class="input_login">
                                <span class="txt_mobile">-</span>
                                <input type="text" name="chargeMobile3" id="chargeMobile3" maxlength="4" class="input_login">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">담당자 메일주소(필수)</th>
                        <td><input type="text" name="chargeEmail" id="chargeEmail" placeholder="담당자 메일주소를 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">세금계산서 수령 메일주소(필수)</th>
                        <td><input type="text" name="taxEmail" id="taxEmail" placeholder="세금계산서 수령 메일 주소를 입력해 주세요." class="input_login"><br>
                        </td>
                    </tr>
                </table>

                <h3 class="cont_tit_sub2 st2">증빙서류</h3>
                <table class="tb_row tb_signup">
                    <tr>
                        <th scope="row">서비스 신청서 (필수)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="fileName1" class="input_login" id="fileName1" readonly>
                                <button type="button" class="btn_tb_input">찾아보기</button>
                                <input type="file" name="file" onchange="javascript:document.getElementById('fileName1').value = this.value">
                            </div>
                            인감도장을 날인하여 스캔파일을 첨부해 주세요.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">보안서약서 (필수)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="fileName2" class="input_login" id="fileName2" readonly>
                                <button type="button" class="btn_tb_input">찾아보기</button>
                                <input type="file" name="file" onchange="javascript:document.getElementById('fileName2').value = this.value">
                            </div>
                            인감도장을 날인하여 스캔파일을 첨부해 주세요.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">인감증명서 (필수)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="fileName3" class="input_login" id="fileName3" readonly>
                                <button type="button" class="btn_tb_input">찾아보기</button>
                                <input type="file" name="file" onchange="javascript:document.getElementById('fileName3').value = this.value">
                            </div>
                            최근 3개월 이내 발급된 임감증명서 스캔파일을 첨부해 주세요.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">사용인감계 (선택)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="fileName4" class="input_login" id="fileName4" readonly>
                                <button type="button" class="btn_tb_input">찾아보기</button>
                                <input type="file" name="file" onchange="javascript:document.getElementById('fileName4').value = this.value">
                            </div>
                            법인 인감으로 날인한 경우 제출하지 않으셔도 됩니다.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">사업자등록증 (필수)</th>
                        <td>
                            <div class="input_wrap_btn">
                                <input type="text" name="fileName5" class="input_login" id="fileName5" readonly>
                                <button type="button" class="btn_tb_input">찾아보기</button>
                                <input type="file" name="file" onchange="javascript:document.getElementById('fileName5').value = this.value">
                            </div>
                            사업자등록증 사본 스캔파일을 첨부해 주세요.
                        </td>
                    </tr>
                </table>

            </section><!-- //layout_tit -->

            <div class="layout_tit">
                <div class="cont_btns">
                    <button type="submit" class="btn_btm submit">가입하기</button>
                    <button type="button" class="btn_btm" th:onclick="'location.reload()'" >취소</button>
                </div>
            </div><!-- //layout_tit -->
            </form>
        </section><!-- //layout_inner -->
    </main>

</th:block>
<th:block layout:fragment="pageScript">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(function() {
        $("#searchAddr").on("click",function() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var fullAddr = ''; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        fullAddr = data.roadAddress;

                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        fullAddr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                    if (data.userSelectedType === 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('addr1').value = fullAddr; //5자리 새우편번호 사용
                    document.getElementById('addr2').focus();
                }
            }).open();
        });
    })

    var validator = $("#form").validate({
        rules: {
            email: {
                required: true,
                email: true,
                // remote: '[[@{/member/check_email}]]'
            },
            password: {
                required: true,
                passRegex: /^(?=.*[a-zA-Z])(?=.*[!@#$%^~*+=-])(?=.*[0-9]).{8,15}$/
            },
            password2: {
                equalTo: '#password',
                required: true
            },
            companyName: {
                required : true
            },
            bizNumber: {
                required: true
            },
            bizOwner: {
                required: true
            },
            tel1: {
                required:true,
                number: true
            },
            tel2: {
                required:true,
                number: true
            },
            tel3: {
                required:true,
                number: true
            },
            addr1: {
                required:true
            },
            addr2: {
                required: true
            },
            chargeName: {
                required: true
            },
            chargeMobile1: {
                required: true,
                number: true
            },
            chargeMobile2: {
                required: true,
                number: true
            },
            chargeMobile3: {
                required: true,
                number: true
            },
            chargeEmail : {
                required:true,
                email: true
            },
            taxEmail: {
                required:true,
                email: true
            },
            fileName1: {
                required: true
            },
            fileName2: {
                required: true
            },
            fileName3: {
                required: true
            },
            fileName5: {
                required: true
            }

        },
        messages: {
            email: {
                required: '이메일주소를 입력해주세요.',
                email: '이메일형식이 올바르지 않습니다.',
                // remote : '이미 존재하는 아이디입니다.'
            },
            password: {
                required: '비밀번호를 입력해 주세요.',
                passRegex: '비밀번호는 영문 대소문, 숫자, 특수기호 포 8~15자형식입니다.',
                minLength: 8,
                maxlength: 15
            },
            password2: {
                equalTo: '비밀번호가 일치하지 않습니다.',
                required: '입력한 비밀번호를 다시 입력해 주세요.'
            },
            companyName: {
                required : '회사명을 입력해 주세요.'
            },
            bizNumber: {
                required: '사업자등록번호를 입력해 주세요.'
            },
            bizOwner: {
                required: '대표자 이름을 입력해 주세요.'
            },
            tel1: {
                required:'전화번호를 입력해 주세요.',
                number: '숫자만 입력해주세요.'
            },
            tel2: {
                required:'전화번호를 입력해 주세요.',
                number: '숫자만 입력해주세요.'

            },
            tel3: {
                required:'전화번호를 입력해 주세요.',
                number: '숫자만 입력해주세요.'
            },
            addr1: {
                required : '주소를 입력해 주세요.'
            },
            addr2: {
                required : '상세주소를 입력해 주세요.'
            },
            chargeName: {
                required: '담당자 이름을 입력해 주세요.'
            },
            chargeMobile1: {
                required: '담당자 연락처를 입력해 주세요.',
                number: '숫자만 입력해주세요.'
            },
            chargeMobile2: {
                required: '담당자 연락처를 입력해 주세요.',
                number: '숫자만 입력해주세요.'
            },
            chargeMobile3: {
                required: '담당자 연락처를 입력해 주세요.',
                number: '숫자만 입력해주세요.'
            },
            chargeEmail: {
                required: '담당자 메일주소를 입력해 주세요.',
                email: '이메일 형식을 입력해주세요.'
            },
            taxEmail: {
                required: '세금계산서 수령 메일 주소를 입력해 주세요.',
                email: '이메일 형식을 입력해주세요.'
            },
            fileName1: {
                required: '인감도장을 날인하여 스캔파일을 첨부해 주세요'
            },
            fileName2: {
                required: '인감도장을 날인하여 스캔파일을 첨부해 주세요.'
            },
            fileName3: {
                required: '최근 3개월 이내 발급된 임감증명서 스캔파일을 첨부해 주세요.'
            },
            fileName5: {
                required: '사업자등록증 사본 스캔파일을 첨부해 주세요.'
            }
        }
    });
    validator.resetForm();
</script>
</th:block>
</body>
</html>
