<script th:src="@{/js/jquery-1.9.1.min.js}" src="/lib/js/jquery-1.9.1.min.js"></script>
<script th:src="@{/js/jquery-ui.min.js}" src="/lib/js/jquery-ui.min.js"></script>
<script th:src="@{/js/jquery.selectric.min.js}" src="/lib/js/jquery.selectric.min.js"></script>
<script th:src="@{/js/jquery.script.js}" src="/lib/js/jquery.script.js"></script>
<script th:src="@{/js/jquery.script.pc.js}" src="/lib/js/jquery.script.pc.js"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/jquery.twbsPagination.js}"></script>