<!doctype html>
<html lang="ko">
<head>
    <title>서비스 점검 | G Cloudit</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="Content-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/css">
    
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1 minimum-scale=1, maximum-scale=2">

    <link rel="stylesheet" href="/lib/css/normalize.css">
    <link rel="stylesheet" href="/lib/css/font.css">
    <link rel="stylesheet" href="/lib/css/selectric.css">
    <link rel="stylesheet" href="/lib/css/style.css">
    <link rel="stylesheet" href="/lib/css/pc.css">
</head>
<body class="body_error">
<header class="header_common" id="header">
    <div class="layout_inner">
        <h1 class="header_logo"><span>G Cloudit</span></h1>
    </div>
    <div class="header_bg"></div>
</header>

<main class="main_sub">
    <section class="layout_inner layout_vertical">
        <h2 class="layout_screen-out">Service Error</h2>
        <div class="section_test">
            <div class="error_front">
                <div class="error_tit">
                    <p class="tit"><span>Public Cloudit</span>은<br>현재 <strong>서비스 점검중</strong>입니다.
                    </p>
                    <p>Public Cloudit 회원분들께 보다 안정적인 서비스 환경을 제공하기 위해 현재 서비스 점검을 진행 중에 있습니다.<br>
                        약속한 시간내에 조속히 점검을 마칠 수 있도록 최선을 다하겠습니다. 이용에 불편을 드려 대단히 죄송합니다.
                    </p>
                </div><!-- //error_tit -->
                <div class="error_timer">
                    <span class="error_timer_item">0</span>
                    <span class="error_timer_item">3</span>
                    <span class="error_timer_mdd">:</span>
                    <span class="error_timer_item">4</span>
                    <span class="error_timer_item">8</span>
                    <span class="error_timer_mdd">:</span>
                    <span class="error_timer_item">1</span>
                    <span class="error_timer_item">0</span>
                    <span class="error_timer_txt">남았습니다.</span>
                </div><!-- //error_timer -->
            </div><!-- //error_front -->
        </div><!-- //section_error -->

        <table class="tb_row tb_board_write">
            <tr>
                <th scope="row">점검 내용</th>
                <td>로드밸런싱 특정포트 미동작</td>
            </tr>
            <tr>
                <th scope="row">점검 일시</th>
                <td>
                    <span>2019년 7월 25일 06시 00분</span><span>&nbsp;~&nbsp;2019년 7월 25일 06시 00분</span>
                </td>
            </tr>
            <tr>
                <th scope="row">점검 범위</th>
                <td>로드밸런싱</td>
            </tr>
            <tr>
                <th scope="row">점검 현황</th>
                <td>
                    Public Cloudit 고객 여러분 !<br>
                    현재 다음과 같은 현상이 발생하여 문제를 확인 중입니다.<br>
                    1. 로드밸런싱 생성 후 특정포트 미동작<br>
                    최대한 빠른 원인 파악 및 정상화를 위해 최선을 다할 것이며, 정상화까지 현황을 지속적으로 전달해 드리겠습니다.<br>
                    고객 여러분들에게 이용에 불편을 드린 점 진심으로 사과드립니다.<br><br>

                    감사합니다.
                </td>
            </tr>
        </table>
    </section><!-- //layout_inner -->
</main>

<footer class="footer_common">
    <section class="layout_inner layout_vertical">
        <div class="layout_tit">
            <h2 class="layout_screen-out">Footer</h2>
            <section class="footer_customer">
                <h3 class="layout_screen-out">Contact</h3>
                <ul class="footer_customer_list">
                    <li>
                        <span class="ele_tit">신청문의</span>
                        <a class="ele_tel" href="tel:070-4866-5520">070. 4866. 5520</a>
                        <a class="ele_mail" href="mailto:cloudbiz@innogrid.com">cloudbiz@innogrid.com</a>
                    </li>
                    <li>
                        <span class="ele_tit">기술문의</span>
                        <a class="ele_tel" href="tel:070-4866-5528">070. 4866. 5528</a>
                        <a class="ele_mail" href="mailto:rndtech@innogrid.com">rndtech@innogrid.com</a>
                    </li>
                </ul>
            </section><!-- //footer_customer -->

            <div class="footer_cont">
                <section class="footer_nav">
                    <h3 class="layout_screen-out">Site Map</h3>
                </section>
                <section class="footer_info footer_side">
                    <h3 class="layout_screen-out">Company Info</h3>
                    <div class="footer_logo">GCloudit</div>
                    <div class="footer_menu">
                        <a href="/src/common/terms.html">이용 약관</a>
                        <a href="/src/common/privacy.html">개인정보 처리 방침</a>
                    </div>
                    <address class="footer_address">
                        <p>서울특별시 서초구 서초대로 314 정보통신공제조합 빌딩 10층</p>
                        <p><span>TEL : 02. 516. 5990</span><span>FAX : 02. 516. 5997</span></p>
                    </address>
                    <div class="footer_company">
                        <p><span>대표이사 : 김명진</span><span>사업자 등록번호 : 220-87-36743</span></p>
                        <p>통신판매업신고 : 제 2012-서울강남-00571호</p>
                    </div>
                    <div class="footer_copyright">COPYRIGHT 2019 INNOGRID. ALL RIGHT RESERVED.</div>
                </section>
            </div><!-- //footer_cont -->
        </div>
    </section>
</footer>

<script src="/lib/js/jquery-1.9.1.min.js"></script>
<script src="/lib/js/jquery-ui.min.js"></script>
<script src="/lib/js/jquery.selectric.min.js"></script>
<script src="/lib/js/jquery.script.js"></script>
<script src="/lib/js/jquery.script.pc.js"></script>
</body>
</html>
