<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<head>
    <title>소개 | MAPS-3D</title>
</head>
<body>
<th:block layout:fragment="content">
    <main class="main_sub">
        <section class="section_location">
            <h2 class="layout_screen-out">Site Location</h2>
            <div class="layout_inner">
                <a th:href="@{/}" href="/">홈</a>
                <span class="current">소개</span>
            </div>
        </section><!-- //section_location -->

        <section class="layout_inner layout_vertical">
            <div class="layout_tit">
                <h2 class="sub_tit" id="content">기업 정보</h2>
                <section class="cont_section">
                    <div class="cont_tit st9">
                        <p>(주)브이엠테크 기업 정보</p>
                        <p class="subtxt">(주)브이엠테크는 모든 플라스틱 제품에 발생하는 제반 문제점을 해결하기 위해 사출성형해석 전용 Software인<br> MAPS-3D(Mold Analysis and Plastics Solutions - 3Dimension; 3차원해석)와 CAPA(Computer Aided Plastics Application; 2.5차원해석)를 개발하였습니다.<br>
                            국내 유일의 사출성형 CAE(omputer Aided Engineering) Software를 개발하고 판매하는 전문 벤처기업입니다.<br> 20여년에 걸친 실무경험을 가진 전문가들로 구성되어 있으며, <br>다양한 기술축적 및 프로젝트 경험을 토대로 컨설팅/CAE를 활용한 기구설계분야의 토탈 SOLUTION을 제공합니다.</p>
                    </div>

                    <table class="tb_public_feature">
                        <tr>
                            <th scope="row" class="th_feature_05"><span>1990년 ~</span></th>
                            <td>
                                <p><strong>1990년 3월 </strong> CAPA Project 시작</p>
                                <p><strong>1994년 3월 </strong> CAPA 1.0 출시(충전해석)</p>
                                <p><strong>1994년 3월 </strong> CAPA 2.0 출시(냉각해석)</p>
                                <p><strong>1994년 4월 </strong> 국내 신기술(NT)마크 획득</p>
                                <p><strong>1994년 </strong> IR52 장영실상 수상</p>
                                <p><strong>1996년 3월 </strong> CAPA 3.0 출시(보압/휨)</p>
                                <p><strong>1999년 10월 </strong> CAPA 4.2 출시(NT 버전)</p>
                                <p><strong>1999년 10월 </strong> (주)브이엠테크 법인 설립</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="th_feature_05"><span>2000년 ~</span></th>
                            <td>
                                <p><strong>2003년 1월 </strong> (주)브이엠테크 연구소 개설</p>
                                <p><strong>2003년 3월 </strong> MAPS-3D 1.0 출시(3차원 SOLID)</p>
                                <p><strong>2004년 3월 </strong> CAPA 6.0 및 MAPS-3D 2.0출시(휨해석)</p>
                                <p><strong>2005년 3월 </strong> MAPS-3D 2.2 출시(섬유배향해석)</p>
                                <p><strong>2005년 6월 </strong> 포르투칼 대리점 개설</p>
                                <p><strong>2005년 11월 </strong> MAPS-3D 3.0 출시</p>
                                <p><strong>2006년 3월 </strong> CAPA 7.0 출시</p>
                                <p><strong>2006년 6월 </strong> 브라질 대리점 개설</p>
                                <p><strong>2006년 11월 </strong> 중국 대리점 개설</p>
                                <p><strong>2007년 3월 </strong> MAPS-3D 4.0 출시</p>
                                <p><strong>2007년 6월 </strong> 일본 대리점 개설</p>
                                <p><strong>2008년 2월 </strong> CAPA 7.2 출시</p>
                                <p><strong>2009년 3월 </strong> MAPS-3D 5.0 출시</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="th_feature_05"><span>2010년 ~</span></th>
                            <td>
                                <p><strong>2010년 3월 </strong> MAPS-3D 5.1 출시</p>
                                <p><strong>2011년 2월 </strong> MAPS-3D 6.0 출시(RIM, 인서트)</p>
                                <p><strong>2011년 11월 </strong> MAPS-3D 7.0 출시(이중사출 해석)</p>
                                <p><strong>2012년 11월 </strong> MAPS-3D 8.0 출시</p>
                                <p><strong>2013년 11월 </strong> MAPS-3D 9.0 출시</p>
                                <p><strong>2014년 11월 </strong> MAPS-3D 10.0 출시</p>
                                <p><strong>2015년 1월 </strong> 인도네시아 대리점 개설</p>
                                <p><strong>2015년 1월 </strong> 인도네시아 University of Indonesia 뿌리센터 MAPS-3D 교육센터 개설</p>
                                <p><strong>2015년 11월 </strong> MAPS-3D 11.0 출시</p>
                                <p><strong>2016년 11월 </strong> MAPS-3D 12.0 출시</p>
                                <p><strong>2017년 11월 </strong> MAPS-3D 13.0 출시</p>
                                <p><strong>2018년 11월 </strong> MAPS-3D 14.0 출시</p>
                                <p><strong>2019년 11월 </strong> MAPS-3D 15.0 출시</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="th_feature_05"><span>2020년 ~</span></th>
                            <td>
                                <p><strong>2020년 12월 </strong> MAPS-3D 16.0 출시</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="th_feature_05"><span>2021년 ~</span></th>
                            <td>
                                <p><strong>2021년 1월 </strong> MAPS-3D ez 출시</p>
                            </td>
                        </tr>
                    </table>
                    <h3 class="public_service_tit">(주)브이엠테크 기업 정보</h3>
                    <ul class="public_service_feature">
                        <li class="ico_private">
                            <div class="tit">자본금</div>
                            <ul class="txt">
                                <li>5억 5백만원</li>
                            </ul>
                        </li>
                        <li class="ico_consult">
                            <div class="tit">소재지</div>
                            <ul class="txt">
                                <li>경기도 수원시 영통구</li>
                            </ul>
                        </li>
                        <li class="ico_customer">
                            <div class="tit">홈페이지</div>
                            <ul class="txt">
                                <li>www.vmtech.co.kr</li>
                            </ul>
                        </li>
                        <li class="ico_security">
                            <div class="tit">연락처</div>
                            <ul class="txt">
                                <li>TEL 031. 206. 6500</li>
                                <li>FAX 031. 206. 6502</li>
                            </ul>
                        </li>
                    </ul>
                </section><!-- //cont_section -->
            </div><!-- //layout_tit -->
        </section><!-- //layout_inner -->
    </main>
</th:block>
</body>
</html>
