<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- Email Start -->

<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;margin:0 auto;background-color:#fff;border:5px solid #d7dce6">
	<tr>
		<td style="padding:0 25px;text-align:left">
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="width:540px;margin:0 auto">
				<tr>
					<td><img src="/lib/image/email/email_header.png" alt="퍼블릭클라우드잇에서 알려드립니다." border="0" width="540" height="180"></td>
				</tr>
				<tr>
					<td><img src="/lib/image/email/member_title_break.png" alt="회원 탈퇴가 완료되었습니다.." border="0" width="540" height="30"></td>
				</tr>
				<tr>
					<td style="font-size:12px;text-align:justify;vertical-align:top;color:#5d5d5d">
						회원님의 아이디<strong>kuki*****</strong> 이(가) 회원 탈퇴되었습니다.
					</td>
				</tr>
				<tr><td height="20" style="height:20px"></td></tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="540" style="width:540px;margin:0 auto;font-size:12px;border-top:2px solid #454f5d;border-bottom:1px solid #454f5d;background:#f6f8f9">
							<tr><td height="50" style="height:50px"></td></tr>
							<tr>
								<td style="font-size:12px;text-align:center">
									회원정보는 삭제되었으며 이용했던 모든 서비스의 데이터와 정보도 함께 삭제되었습니다.<br>
									재가입 시 동일한 아이디로 14일 동안은 재가입이 되지 않습니다.
								</td>
							</tr>
							<tr><td height="20" style="height:20px"></td></tr>
							<tr>
								<td style="text-align:center"><img src="/lib/image/email/btn_break.png" alt="그동안 클라우드잇 서비스를 이용해 주셔서 감사합니다." border="0" width="450" height="50"></td>
							</tr>
							<tr><td height="50" style="height:50px"></td></tr>
						</table>
					</td>
				</tr>
				<tr><td height="20" style="height:20px"></td></tr>
				<tr>
					<td style="font-size:11px;text-align:justify;vertical-align:top;color:#5d5d5d">
						본 메일은 발신전용입니다. 궁금하신 점이나 불편한 사항은<br>
						<a href="/src/customer/inquiry.html" target="_blank" title="퍼블릭클라우드잇 고객센터로 이동" style="color:#1e78ff">고객센터</a>에 문의해 주시기 바랍니다.
					</td>
				</tr>
				<tr><td height="40" style="height:40px"></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><a href="/" target="_blank" title="퍼블릭클라우드잇 사이트로 이동"><img src="/lib/image/email/email_footer.png" alt="COPYRIGHT 2019 innogrid. All right reserved." border="0" width="590" height="80"></a></td>
	</tr>
</table>
<!-- News Letter End -->

</body>
</html>